/* /View/AuthoritiesDropdown.razor.rz.scp.css */
select[b-yar7jum7n4] {
    font-size: 1.5rem;
    background-color: var(--background-color);
    color: var(--color);
}

option[b-yar7jum7n4] {
    color: var(--color);
    background-color: var(--background-color);
}
/* /View/DistributionList.razor.rz.scp.css */
tr[b-rdtcnagmsq] {
    height: 3rem;
}

td[b-rdtcnagmsq] {
    font-size: 1.5rem;
}

    td:first-child[b-rdtcnagmsq] {
        text-align: start;
    }

    td:last-child[b-rdtcnagmsq] {
        text-align: end;
    }
/* /View/Home.razor.rz.scp.css */
.container[b-8cj9ipbowy] {
    max-width: 70vw;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
