@if (Authorities is not null)
{
    <select @onchange=@(args=>debouncer?.Debounce(args)) autofocus>
        @foreach (var authority in Authorities)
        {
            <option value="@authority.Id">@authority.Name</option>
        }
    </select>
}
@code {
    Debouncer<ChangeEventArgs>? debouncer;
    [Parameter] public IEnumerable<Authority>? Authorities { get; set; }
    [Parameter] public EventCallback<Authority?> Selected { get; set; }
    private void OnChange(ChangeEventArgs? e)
    {
        if (e?.Value is null || !int.TryParse(e.Value.ToString(), out int id))
        {
            return;
        }
        var authority = Authorities?.SingleOrDefault(a => a.Id == id);
        Selected.InvokeAsync(authority);
    }
    protected override void OnInitialized() => debouncer = new(args => OnChange(args),100);
}