@page "/"
@inject Api api
<PageTitle>@authority?.Name</PageTitle>
<div class="container">

    <h1>UK Food hygiene rating distributions</h1>
    @if (authorities is not null)
    {
        
        <AuthoritiesDropdown Authorities="authorities" Selected="@(value=>authority=value)"></AuthoritiesDropdown>
    }
    @if (authority is not null)
    {
        <DistributionList Authority="@authority" />
    }
</div>

@code {
    private Authority? authority;
    private IEnumerable<Authority>? authorities;
    protected override async Task OnInitializedAsync()
    {
        authorities = await api.GetAuthorities();
        authority = authorities?.FirstOrDefault();
    }
}