body {
    --background-color: #353935; /*onyx*/
    --color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--color);
}
